// Body
$body-bg: #f8fafc;

$primary:    #225F8B;
$secondary:  #d19e04;
$success:    #198754;
$danger:     #dc3545;
$warning:    #9004d1;
$info:       #005668;
$light:      #f8f9fa;
$dark:       #212529;

// Typography
$font-family-sans-serif: "Helvetica", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


.form-control:hover,
.form-control:focus,
.form-control:focus-within {
    box-shadow: none;
}

.form-control:disabled {
    background-color: transparent !important;
    opacity: 1;
}

.notification {
    position: relative;
    left: 0;
    cursor: pointer;
}

.notification i {
    font-size: 22px;
}

.notification span.count {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #fff;
    border-radius: 20px;
    font-weight: 600;
    font-size: 12px;
    background-color: $primary;
}
  
.notification .header {
    padding: 20px;
    background-color: $primary;
    color: $light;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    h6 {
        font-weight: 700;
    }
}

.notification .content {
    width: 600px;
    position: absolute;
    top: 60px;
    right: -40px;
    background-color: $light;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 999;
    border-radius: 10px;
}

.notification .scrollable {
    height: 500px;
    overflow-y: auto;
}

.notification .content .icon {
    background-color: #ebebeb;
    border-radius: 8px;
    width: 60px;
    height: 50px;;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification .content .item {
    padding: 20px;
    border-bottom: 1px solid #cccccc3a;
    &.active {
        background-color: #cccccc3a;
    }

}

.notification .content .message {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}

.notification .content .timestamp {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    margin-top: 15px;
}

