@import 'variables';

body {
  overflow-x: hidden;
}


.change-password {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  z-index: 999;

  .content {
    width: calc(40%);
    display: none;
  }

}

table {
    width: 100%;
    table-layout: auto;
    th, td {
      text-transform: uppercase;
      white-space: nowrap;
      width: 100px;
      vertical-align: middle;
    }
    td {
      font-size: 13px;

      img {
        width: 100%;
        height: 100px;
        object-fit: cover !important;
        object-position: center !important;
      }

    }
  }

  .latest-announcements {
    margin-top: 20px;
    min-height: 160px;
    display: flex;

    .wrapper {
      width: 100%;
      padding: 10px 0;
      overflow-x: hidden;
      transform: translateY(20px);
      transition: all ease 0.3s;
      position: relative;
      padding: 0 15px 0 15px;
    }

    .wrapper:hover {
      overflow: auto;
      cursor: pointer;
    }

    .card {
      min-height: 110px !important;
      width: 300px;
      flex-shrink: 0;
      cursor: pointer;
      box-shadow: 0 4px 8px $primary;
    }

    .wrapper a:nth-child(1) .card::before {
      position: absolute;
      width: 10px;
      height: 10px;
      right: 10px;
      top: 10px;
      content: '';
      background-color: $primary;
      border-radius: 50%;
      z-index: 999;
    }




  }

  .dashboard {

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 2fr));
        gap: 30px;
    }

    .item {
        text-align: center;
        background-color: #f2f2f2;
        padding: 12px 12px 20px 12px;
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }

    .item p {
      font-size: 20px;
      margin-top: 10px;
      text-transform: uppercase;
      font-weight: 600;
    }

    .item img {
        max-width: 100%;
        height: 200px;
        object-fit: scale-down;
        margin-bottom: 10px;
    }
  }

.announcements {

  .card {
    min-height: 620px !important;
    border-top-left-radius: 30px !important;
    border-top-right-radius: 30px !important;

    .banner {
      width: 100%;
      height: 300px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 30px;
      }
    }

  }

  .banner {
    width: 100%;
    height: 500px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 30px;
    }
  }

  h5 {
    text-transform: uppercase;
    font-weight: 600;
  }

  p {
    font-size: 16px;
    font-weight: 500;
  }

  .title {
    h1 {
      font-weight: 600;
    }
    h5 {
      font-size: 14px;
    }
  }

}

.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clamp-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.clamp-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.clamp-3 {
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.clockinout {

  margin-top: 80px;

  .card {
      width: 100%;
      min-height: 220px;
      display: flex;
      align-items: center;
        cursor: pointer;

      i {
        font-size: 50px;
      }

      font-size: 30px;
      font-weight: 700;
  }

  .camera {

    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.151);
    background-image: url('../../public/img/unknown.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


    .overlay {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: 600;
      font-style: italic;
      color: #0000009f;
      position: absolute;
    }

    .watermark {
      position: absolute;
      top: 20px;
      right: 30px;
      z-index: 99;
      img {
        width: 80px;
        height: 80px;
      }

    }

  }

  canvas {
    position: absolute !important;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  .camera .overlay {
    position: absolute;
    bottom: 20px;
    width: fit-content;
    padding: 5px 25px 5px 25px;
    color: #fff;
    backdrop-filter: blur(7px) saturate(180%);
    -webkit-backdrop-filter: blur(7px) saturate(180%);
    background-color: rgba(0, 0, 0, 0.44);
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 99;
  }

  #map {
    width: 120px;
    height: 100px;
    border-radius: 20px !important;
  }

  #location-info {
    font-size: 14px;
    font-weight: 600;
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 9;
  }

}

@media(min-width: 0px) and (max-width: 992px) {

  .dashboard .item {
    min-height: 350px !important;
  }

  .container .action {
    margin-top: 40px;

    a {
      width: 100% !important;
      margin-bottom: 20px;
    }

  }

}

.sidebar-menu {
  width: 250px;
  background: #f8f9fa;
  padding: 10px;
}
.list-item {
  list-style: none;
}
.submenu {
  margin-left: 20px;
}
.toggle-link {
  cursor: pointer;
  display: flex;
  align-items: center;
}


.payslip-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;

  .inner-content {
    max-width: 500px;
    height: 100%;
    border: 2px solid #000;

    .header {
      padding: 10px 30px 10px 30px;
      border-bottom: 2px solid #000;
      margin-bottom: 10px;

      img {
        width: 80px;
      }

      .header-text {
        padding: 10px;
      }

    }

    .label, .value {
      width: 100%;
      padding: 4px;
      margin: 1px 5px 1px 5px;
    }

    .value {
      border: 2px solid #000;
    }

    .tle {
      padding: 10px 0 10px 0;
    }

    .info {
      padding-bottom: 10px;
      border-bottom: 2px solid #000;

      &:nth-child(3) {
        padding-top: 10px;
      }

      &:nth-child(4) {
        border-bottom: 0px solid #000;
      }

    }

  }

}

 #calendar-container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}


.fc-header-toolbar {
    font-size: 1.25rem;
}

.fc .fc-toolbar-title {
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase !important;
    cursor: pointer;
}

.fc-available-title {
  font-size: 15px !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  text-align: center !important;
  margin: 0 10px 0 10px !important;
  cursor: pointer;
}

.fc-event-title {
  font-size: 10px !important;
  text-transform: uppercase !important;
  font-weight: 800 !important;
  text-align: center !important;
  padding: 5px 0 5px 0 !important;
  cursor: pointer;
}

.fc .fc-button {
    text-decoration: none !important;
    font-size: 14px !important;
    text-transform: uppercase !important;
}

.fc .fc-col-header-cell-cushion {
    font-size: 15px !important;
}

.fc .fc-daygrid-day-number {
    font-size: 15px !important;
    text-decoration: none !important;
}

#calendar-container {
    font-size: 1rem;
}
