@import 'variables';

.ck-editor__editable {
  min-height: 300px;
}

.restricted {
  cursor: not-allowed;
}

.form-select:disabled {
  background-color: transparent;
}

.section-title h1 {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  color: #252525;
  border-left: 6px solid $primary;
  padding-left: 10px;
  margin-bottom: 6px;
}

.section-title p {
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 10px;
}

.dropdown {
  cursor: pointer;
  padding-bottom: 8px;
  .email {
    color: #0a3842;
    font-size: 15px;
    font-weight: 500;
  }

  .dropdown-menu {
    margin-top: 10px;
  }

}

.dropdown-toggle::after { 
  margin-left: 5px;
  border-top: 0.3em solid #000;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

#app {
    position: relative;
    .sidebar {
        position: absolute;
        width: 320px;
        min-height: 100vh;
        height: 100%;
        border-right: 1px solid rgba($color: $dark, $alpha: 0.2);
    }

    .navbar {

      background-color: #fff;
      border-bottom: 1px solid #cecece;

      .container {
        align-items: end !important;
      }
        .navbar-nav {

          display: flex;
          gap: 10px;
          flex-direction: row;

          li {
            justify-content: center;
            align-items: center;
          }

          a {
            font-weight: 600;
            text-transform: uppercase;
            padding: 10px 25px 10px 25px;
          }

          .active {
            color: $dark;
            border-bottom: 2px solid $primary;
            border-radius: 0px;
          }
        }

        .navbar-brand img {
          width: 120px;
        }

        .profile-img {
            width: 40px; 
            height: 40px; 
            border-radius: 50%; 
            margin-right: 8px;
            background-color: $light;
            object-fit: cover;
            border: 2px solid $primary;
        }
  
        .drop-button {
            background-color: transparent;
            border: none;
            color: $dark;
        }
    }

    main {
        width: 100%;
        position: relative;
        padding: 0px;
        .navbar {
            max-height: 100%;
        }
        .content {
            padding: 10px 0px 10px 0px;
        }
    }

    .card {
        border-radius: 12px;
    }

    .search-jobs {
        width: 60%;       
        margin: 50px auto 0 auto;
        gap: 10px;

        .content {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 2px solid #939393;
            border-radius: 10px;
            padding: 0;

            &.error {
              border: 2px solid red; 
            }

            .search-box {
                width: 100%;
                padding: 0 10px 0 0px;
            }

            .search-submit {
                padding: 0 10px 0 10px;

                button {
                  width: 150px;
                }

            }

            #search {
                border: none;
                border-radius: 10px;
                height: 60px;
                font-size: 16px;
                padding-left: 20px;
            }


        }

    }

    .searched-query {
        margin-top: 30px;
        text-transform: uppercase;
        font-style: italic;
        font-weight: 600;
        color: #0a3842;

        span {
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }

    .jobs-lists {

        margin-top: 40px;

        .nav {
          width: 100%;
        }
  
        .total-applied h5 {
          text-transform: uppercase;
          font-weight: 600;
        }
  
        .total-applied select {
          height: 50px;
          width: 100%;
          margin-top: 20px;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 500;
        }
  
        .nav-tabs {
          border-bottom: 2px solid $primary;
  
          .nav-link {
            width: 280px;
            font-size: 15px;
            padding: 10px 20px 10px 20px;
            text-transform: uppercase;
            font-weight: 600;
            &:hover {
              border-top-left-radius: 15px;
              border-top-right-radius: 15px;
            }
          }
  
          .nav-link.active {
            color: #ffff;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom: 2px solid $primary;
            background-color: $primary;
          }
  
        }
  
        .nav .nav-item button {
          text-transform: uppercase;
          font-weight: 600;
          width: 150px;
        }

        .card {
            min-height: 100%;
            cursor: pointer;
            border-width: 2px;

            &.active {
                border: 2px solid $primary;
            }

            .dropdown-item {
              text-transform: uppercase;

              &:active {
                color: #252525;
                background-color: #f2f2f2 !important;

                i {
                  background-color: #f4f4f4;
                }

              }

              i {
                width: 40px;
                height: 40px;
                border-radius: 8px;
                background-color: #f2f2f2;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              span {
                font-size: 12px;
                font-weight: 500;
              }
            }

          }
      
          .card-footer {
            color: #909090;
          }
      
          .actions {
            position: absolute;
            top: 35px;
            right: 10px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
      
          .position-title {
            margin-top: 30px;
          }
      
          .position-title h4 {
            font-weight: 800;
          }
      
          .company-info {
            margin-top: 10px;
          }
      
          .company-info p:nth-child(1) {
            font-size: 14px;
            font-weight: 600;
            color: #676767
          }
      
          .company-info p:nth-child(2) {
            font-size: 14px;
            font-weight: 500;
            color: #676767;
          }

          .salary {
            margin-top: 12px;
            font-size: 20px;
            font-weight: 600;
            color: #535353;
          }
      
          .date-posted {
            margin-top: 12px;
            color: #676767;
            font-size: 12px;
            text-transform: uppercase;
          }
      
          .perks {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
          }
      
          .perks div {
            background-color: #909090;
            padding: 10px 18px 10px 18px;
            border-radius: 10px;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            color: #fff;
          }
      
          .description {
            margin-top: 20px;
          }
      
          .description ul {
            list-style: circle;
          }

          .status {
            text-transform: uppercase;
          }
          .card.create {

            height: 100%;
            min-height: 400px;
            border: 3px dotted #939393;
            cursor: pointer;
      
            .icon {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              color: #939393;
              border: 3px dotted #939393;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 40px;
              margin: auto;
            }
      
            .label {
              color: #939393;
              font-weight: 600;
              letter-spacing: 2px;
              text-transform: uppercase;
              margin-top: 20px;
      
              div:nth-child(1) {
                font-size: 20px;
              }
      
              div:nth-child(2) {
                font-size: 12px;
                margin-top: 10px;
                padding: 0 20px 0 20px;
              }
      
            }
      
          }
    }

    .job-info {

        position: sticky;
        top: 50px;

      .choose-first {
        border-radius: 15px;
        background-color: #f2f2f2;
        padding: 50px 0 50px 0;

        i {
          padding-top: 5px;
        }

        h4 {
          font-size: 20px;
          font-weight: 500;
          text-transform: uppercase;
        }

        p {
          color: #535353;
          font-size: 16px;
        }
        
        .banner {

          width: 300px;
          height: 300px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 20px auto 0 auto;

          img {
            width: 200px;
          }
        }

      }

        .card {

          border: 2px solid $primary;

          .card-header {
            position: sticky;
            top: 0;
            width: 100%;
            z-index: 9;
            padding-bottom: 10px;
            background-color: #F8FAFC !important;
          }

          .description {
            font-size: 16px;
            color: #252525;
          }

          .actions {
              margin: 20px 0 20px 0;
              width: 100%;
              display: block;
              position: relative;
              top: 0;
              left: 0;


              button {
                  font-size: 16px;
                  font-weight: 600;
                  padding: 10px 20px 10px 20px;
              }

          }
      }
    }
    
    .job-applied {
      
      margin-top: 50px;

      .card {
        border-radius: 15px;
        height: 100;
        .icon-status {
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #f2f2f2;
          border-radius: 10px;
        }

        .info {
  
          .position-title h4 {
            font-weight: 800;
          }
      
          .company-info {
            margin-top: 5px;
          }
      
          .company-info p:nth-child(1) {
            font-size: 14px;
            font-weight: 600;
            color: #676767
          }
      
          .company-info p:nth-child(2) {
            font-size: 12px;
            font-weight: 500;
            color: #676767;
          }

          .company-info p:nth-child(3) {
            font-size: 13px;
            font-weight: 500;
            color: #676767;
          }

          .salary {
            margin-top: 12px;
            font-size: 20px;
            font-weight: 600;
            color: #535353;
          }
        }

        .date-posted {
          margin-top: 12px;
          color: #676767;
          font-size: 12px;
          text-transform: uppercase;
        }

        .status {
          width: 100%;
          font-size: 12px;
          text-transform: uppercase;

          .alert {
            width: 300px;
            margin-bottom: 0;
          }
        }

        .actions {
          margin: 30px 0 0 0;
          justify-content: center;

          a {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
          }

          button {
            width: 100%;
            text-transform: uppercase;
            font-weight: 600;
          }

        }
      }

    }

    .profile {

      margin-top: 20px;

      label {
        font-size: 12px;
        font-weight: 600;
        color: #787878;
        text-transform: uppercase;
      }

      .sticky {
        position: sticky;
        height: 100vh;
        top: 50px;
        margin-bottom: 100px;
      }

      .profile-section {
        
        width: 100%;

        .img-content {

          width: 200px;
          height: 200px;
          border: 3px solid $primary;
          border-radius: 50%;
          position: relative;

          img {
            margin: auto;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }

          .edit-icon {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            bottom: 10px;
            right: 15px;
            z-index: 9999;
            color: #fff;
            background-color: $primary;
            border-radius: 10px;
            cursor: pointer;
          }
        }
      }

      .info {

        margin-top: 20px;
        text-align: center;

        h3 {
          text-transform: uppercase;
          font-weight: 600;
        }

        p {
          font-weight: 600;
          color: #676767;
        }
      }

      .pills-section {
        margin: 20px 0 20px 0;
        button {
          font-size: 14px;
          display: flex;
          justify-content: center;
          text-transform: uppercase;
          padding: 10px 0 10px 0;
          &.active {
            color: $primary;
            font-weight: 600;
            border-left: 6px solid $primary;
            border-radius: 0;
            background-color: transparent;
          }
        }
      }

      .skills-section {
        h5 {
          text-transform: uppercase;
          font-weight: 600;
        }
        .skill-content {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          margin-top: 20px;
           
          .skill-box {
            padding: 8px 30px 8px 30px;
            background-color: #cecece;
            border-radius: 10px;
            font-size: 14px;
            text-transform: uppercase;
          }

        }
      }

      .card {
        border: 3px dotted $primary;
      }

      .profile-content {

        p {
          color: #676767;
          font-style: italic;
          font-size: 15px;
          margin: 0;
        }

        h4 {
          text-transform: uppercase;
          font-weight: 600;
        }

        h6 {
          text-transform: uppercase;
          font-weight: 600;
          border-left: 4px solid $primary;
          padding-left: 10px;
        }

        ul li span {
          text-decoration: underline;
          text-underline-offset: 3px;
          text-decoration-thickness: 1px;
          padding: 0 10px 0 8px;
          font-style: italic;
          font-weight: 600;
          color: #545454;
        }

        .droparea {
          margin: 20px 0 5px 0;
          border: 3px dotted #535353;
          border-radius: 15px;
          width: 100%;
          height: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          color: #535353;

          i {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
          }
        }
      }

      .droparea {

        width: 100%;
        height: 150px;
        border: 2px dotted #676767;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        cursor: pointer;

        .icon {
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #676767;
            font-size: 20px;
        }

        h6 {
            font-size: 12px;
            margin: 5px 0 0 0;
            font-weight: 600;
            color: #676767;
        }

        small {
            font-size: 10px;
            font-weight: 600;    
            color: #676767;
        }

      }
    }

}

.placeholder__searchbox {
  width: 750px;
  height: 70px;
  margin: auto;
  border-radius: 15px;
  background-color: #dbdbdb;
  animation: blink 2s infinite;
}

.placeholder__box {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  background-color: #dbdbdb;
  animation: blink 2s infinite;

  &.preview {
    height: 100%;
  }

}

@keyframes blink {
  0% {
      opacity: 0.8;
  }
  50% {
      opacity: 0.2;
  }
  100% {
      opacity: 0.8;
  }
}

@media (min-width: 0px) and (max-width: 992px) {
  
  .close-icon {
    display: block;
    position: absolute;
    z-index: 9;
    top: 30px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
  }

  .navbar-nav {
    display: block !important;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 8;
    padding: 150px 20px 0 20px;
    transition: all ease 0.3s;

    &.active {
      display: block;
      top: 0;
    }

    .nav-item a {
      font-size: 20px !important;
    }
  }

  .hamburger-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;

    .hamburger {
      width: 100%;
      height: 5px;
      background-color: #0a3842;
      position: relative;

      &::after {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #0a3842;
        transform: translateY(-12px);
      }

      &::before {
        content: '';
        width: 100%;
        height: 5px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #0a3842;
        transform: translateY(12px);
      }

    }
  }

  .search-jobs {
    width: 100% !important;       
    gap: 10px;

    .content {
      display: block !important;
      justify-content: space-between;
      align-items: center;
      border: 2px solid #939393;
      border-radius: 10px;
      padding: 0;

      .search-submit {
        button {
          width: 100%;
          margin-bottom: 10px;
        }
      }

    }
  }

  

}